/* /* כדי שנוכל לתת הגדרה ספציפית רק לליסט הפנימי אז נגדיר אותו ספאן ולא דיב
ואז נעשה לספאן עיצוב */
span {
    display: inline-block;
    /* /* צריך להגדיר פה את הגובה והרוחב כי בבוטסטראפ לא ניתן כי הגובה הוא באחוזים והוא לא יודע ממה */
    width: 70px;
    height: 70px;
    /* גם מרגין נשים פה כדי לא להכניס קלאס למלא ספאנים */
    background-color: gray;
    margin: 20px;
}
 
.flo {
    width: 70px;
    height: 70px;
}